.ticket-submit-bttn, .ticket-submit-bttn:hover, .ticket-submit-bttn:focus{
    color: #fff;
    background-color: #2962FF;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.add-ticket .rodal-dialog{
    width: 70% !important;
    height: 80% !important;
}
